* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 58px;
}

body {
  font-family: "Montserrat", sans-serif;
}

span.logo {
  color: rgb(209, 32, 194);
}

.shadow-bg {
  background-color: rgba(20, 18, 18, 0.9);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin-top: 20px;
  margin: 0 auto 20px;
  width: 18%;
  height: 4px;
  background-color: rgb(209, 32, 194);
}

nav.navbar {
  z-index: 1;
  text-transform: uppercase;
  transition: background-color 0.6;
}
nav.navbar navbar-toggler {
  padding: 10px 15px;
}
nav.navbar .navbar-brand:hover {
  color: rgb(209, 32, 194);
}
nav.navbar .navbar-brand:hover {
  color: rgb(209, 32, 194);
}
nav.navbar .navbar-brand {
  font-weight: bold;
  letter-spacing: 2px;
}
nav.navbar .nav-link,
nav.navbar .navbar-nav,
nav.navbar .navbar-nav .nav-link.show,
nav.navbar .navbar-brand,
nav.navbar .navbar-toggler-icon,
nav.navbar .material-symbols-outlined {
  color: #f1e9f1;
}
nav.navbar .nav-link:focus,
nav.navbar .nav-link:hover,
nav.navbar .navbar-nav .nav-link.active,
nav.navbar .navbar-nav .nav-link.show {
  color: rgb(209, 32, 194);
}

header.hero-img {
  position: relative;
  background-image: url("../img/video-games-1557358_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1e9f1;
}
header.hero-img span.logo {
  font-weight: bold;
  color: rgb(209, 32, 194);
}
header.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 15, 15, 0.8);
  z-index: -1;
}
header.hero-img .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
header.hero-img .material-symbols-outlined {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  font-weight: bold;
  color: #f1e9f1;
  font-size: 60px;
}

.aboutus {
  background-color: rgb(240, 210, 210);
  background-color: #f1e9f1;
}
.aboutus .material-symbols-outlined {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .abouus-hover {
  transition: color 0.3s;
}
.aboutus .abouus-hover:hover {
  color: rgb(209, 32, 194);
}

.aboutus-hero {
  position: relative;
  background-image: url("../img/technology-2818664_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  color: #f1e9f1;
}
.aboutus-hero .aboutus-card-title {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
}
.aboutus-hero .aboutus-card-text {
  font-size: 14px;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 15, 15, 0.6);
  z-index: -1;
}

.portfolio {
  background-color: #f1e9f1;
}
.portfolio .carousel-item {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.portfolio .carousel-caption {
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f1e9f1;
}
.portfolio .carousel-caption h5 {
  font-size: 20px;
}
.portfolio .carousel-caption p {
  font-size: 14px;
}
.portfolio .carousel-indicators {
  margin-bottom: 30px;
}
.portfolio .row {
  box-sizing: border-box;
}
.portfolio .row .card {
  background-color: #f1e9f1;
  border: none;
}

.prices .prices-underline {
  margin: 0 auto 20px;
  width: 80%;
  height: 0.7px;
  background-color: rgb(78, 76, 76);
}
.prices .price-box {
  box-shadow: 5px 5px 5px grey;
}
.prices .price-box .price-title {
  padding-top: 20px;
  color: rgb(209, 32, 194);
  text-transform: uppercase;
  font-weight: bold;
}
.prices .price-box .btn {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}
.prices .price-box .btn:hover {
  background-color: rgb(209, 32, 194);
}
.prices .price-box p span {
  font-weight: bold;
}
.prices .price-box p span .fas {
  font-size: 25px;
  margin: 7px;
}
.prices .information a {
  text-decoration: none;
  color: rgb(209, 32, 194);
  font-weight: bold;
}

@media (min-width: 576px) {
  .portfolio .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio .row .card {
    width: 250px;
    height: 400px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 38px;
  }
  p {
    font-size: 20px;
  }
  .portfolio .row .card {
    width: 300px;
    height: 500px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
@media (min-width: 1200px) {
  .header.hero-img {
    background-image: url("../img/video-games-1557358_1920.jpg");
  }
  .aboutus-hero {
    background-image: url("../img/technology-2818664_1920.jpg");
  }
}/*# sourceMappingURL=style.css.map */